<%- include('partials/header.ejs') %> <%- include('partials/header.ejs') %>

<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header" style="height: 70px; background-color: #6fd943">
                            <div class="col-12">
                                <h4 class="float-left">Google Ads</h4>
                                <div class="head-right-btn">
                                    <button class="btn btn-sm btn-secondary float-right card-text-btn" type="submit"
                                        data-bs-toggle="modal" data-bs-target="#myModal">
                                        <a href="#" data-ajax-popup="true" data-size="md" data-title="Invite New User"
                                            data-toggle="tooltip" title="" data-bs-original-title="Add Banner">
                                            Add
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive p-2">
                                        <table class="table table-bordered table-md">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Description</th>
                                                    <th>Ads Key</th>
                                                    <th>created at</th>
                                                    <th>Action</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if(!ads[0]) { %>
                                                <tr>
                                                    <td colspan="100%" class="text-center">No Sliders</td>
                                                </tr>
                                                <% } else {%> <% ads.forEach(function(ads){ %>
                                                <tr>
                                                    <td><%= ads.title %></td>
                                                    <td><%= ads.description %></td>
                                                    <td><%= ads.ads_key %></td>
                                                    <!-- <td><%= ads.created_at %></td> -->
                                                    <td><%= convertTimeStampToDate(ads.created_at) %></td>
                                                    <!-- editModal Button -->
                                                    <th><button class="btn btn-primary" data-toggle="modal" id="edit_button" data-model="<%= JSON.stringify(ads) %>">Edit</button></th>
                                                    
                                                    <td>
                                                        <i class="btn btn-danger btn-lg fas fa-trash-alt"
                                                            onclick="deletegoogleAdc('<%= ads._id %>');"></i>
                                                    </td>
                                                </tr>
                                                <% }); %> <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Add Modal -->
    <div class="modal" id="myModal">
        <!-- modal  -->
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="body">
                    <div class="modal-body">
                        <form id="addnewADS" class="mx-5">
                            <div class="mb-3">
                                <label for="">Title</label>
                                <input type="text" class="form-control" id="title" name="title" />
                            </div>
                            <div class="mb-3">
                                <label for="">Description</label>
                                <input type="text" class="form-control" id="description" name="description" />
                            </div>
                            <div class="mb-3">
                                <label for="">Ads Key</label>
                                <input type="text" class="form-control" id="ads_key" name="ads_key" />
                            </div>

                            <button type="submit" class="btn btn-info mt-3 pull-right">
                                Add
                            </button>
                        </form>
                    </div>
                    <div class="col-md-12 modal-footer"></div>
                </div>
            </div>
        </div>
        <!-- modal  -->
    </div>

    <!-- Edit Modal -->
    <div class="modal" id="edit_B">
        <!-- modal  -->
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="body">
                    <div class="modal-body">
                        <form id="editform" class="mx-5">
                            <input type="hidden" name="editid" id="editid">
                            <div class="mb-3">
                                <label for="">Title</label>
                                <input type="text" class="form-control" id="edittitle" name="edittitle" />
                            </div>
                            <div class="mb-3">
                                <label for="">Description</label>
                                <input type="text" class="form-control" id="editdescription" name="editdescription" />
                            </div>
                            <div class="mb-3">
                                <label for="">Ads Key</label>
                                <input type="text" class="form-control" id="editads_key" name="editads_key" />
                            </div>

                            <button type="submit" class="btn btn-info mt-3 pull-right">
                                Add
                            </button>
                        </form>
                    </div>
                    <div class="col-md-12 modal-footer"></div>
                </div>
            </div>
        </div>
        <!-- modal  -->
    </div>
</div>

<%- include('partials/footer.ejs') %>

<%
function convertTimeStampToDate(date){
   date = Number(date)
      var d = new Date(date),
         month = '' + (d.getMonth() + 1),
         day = '' + d.getDate(),
         year = d.getFullYear();

   if (month.length < 2)
   month = '0' + month;
   if (day.length < 2)
   day = '0' + day;
   var date = new Date();
   date.toLocaleDateString();

   return [day, month, year].join('-');
}
%>

<script>
    function deletegoogleAdc(id) {
        if (confirm("Do you really want to delete this slider")) {
            // DO POST
            $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/admin/googleAds/delete",
                    data: JSON.stringify({
                        id: id,
                    }),
                })
                .done((res) => {
                    console.log("Google Ads Deleted successfully");
                    window.location.reload();
                })
                .fail(function (xhr, status, error) {
                    console.log(xhr.responseText);
                });
        }
    }
</script>

<!-- Add  -->
<script>
    function getFormData($form) {
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function (n, i) {
            indexed_array[n["name"]] = n["value"];
        });

        return indexed_array;
    }

    const form = $("#addnewADS");

    form.on("submit", submitHandler);

    function submitHandler(e) {
        e.preventDefault();

        var formData = getFormData($("#addnewADS"));
        console.log(formData);

        // DO POST
        $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/admin/googleAds/add",
                data: JSON.stringify(formData),
            })
            .done((res) => {
                console.log("About Us add successfully");
                window.location.reload();
            })
            .fail(function (xhr, status, error) {
                console.log(xhr.responseText);
            });
    }
</script>

<!-- Edit -->
<script>
    $(document).on("click", "#edit_button", function (e) {
        let getData = $(e.target).attr("data-model");
        let finalData = JSON.parse(getData);
        $("#edit_B").modal("show");
        var data = finalData;
        $("#editid").val(data._id);
        $("#edittitle").val(data.title);
        $("#editdescription").val(data.description);
        $("#editads_key").val(data.ads_key);
    });

    var editform = $("#editform");
    editform.on("submit", editSubmitHandler);

    function editSubmitHandler(e) {
        e.preventDefault();

        var formData = getFormData(editform);
        console.log(formData);

        // DO POST
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/admin/googleAds/edit",
            data: JSON.stringify(formData),
        })
        .done((res) => {
          console.log("About Us add successfully");
          window.location.reload();
        })
        .fail(function (xhr, status, error) {
          console.log(xhr.responseText);
        });
    }
</script>