<%- include('partials/header.ejs') %>

<div class="main-content">
  <section class="section">
    <div class="section-body">
      <div class="div">

      </div>
      <div class="row">
        <div class="col-12">

          <div class="card">
            <div class="card-header" style="height: 70px; background-color: #6fd943">
              <div class="col-12">
                <h4 class="float-left">Reply</h4>
                <div class="head-right-btn">
                </div>
              </div>
            </div>
            <div class="mx-4 my-3">
              <form id="addreply">
                <input type="hidden" name="id" id="id" value="<%= id %>" >
                <div class="mb-3 d-grid gap-2 col-12 mx-auto">
                  <label for="title" class="form-label"><b>Title</b></label>
                  <textarea name="text" id="" cols="10" rows="5"></textarea>
                </div>
                <button type="submit" class="btn btn mt-1 mb-4 ml-3" style="color: white; background-color: #6fd943;">
                  Save
                </button>
              </form>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive p-2">
                    <table class="table table-bordered table-md">
                      <thead class="text-center">
                        <tr>
                          <th>S.No</th>
                          <th>Text</th>
                          <th>created</th>
                          <!-- <th>update</th> -->
                        </tr>
                      </thead>
                      <tbody class="text-center">
                        <% if(!reply[0]) { %>
                        <tr>
                          <td colspan="100%">No reply</td>
                        </tr>
                        <% } else {%> <%reply.forEach(function(reply,index){%>
                          <td><%= index+1%></td>
                        <td><%= reply.text %></td>

                        <td>
                          <%= convertTimeStampToDate(reply.created_at) %>
                        </td>
                        <!-- <td>
                            <%=convertTimeStampToDate(reply.last_update_time)%>
                          </td> -->

                        </tr>
                        <% }); %> <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</div>

<%- include('partials/footer.ejs') %>

<%
function convertTimeStampToDate(date){
   date = Number(date)
      var d = new Date(date),
         month = '' + (d.getMonth() + 1),
         day = '' + d.getDate(),
         year = d.getFullYear();

   if (month.length < 2)
   month = '0' + month;
   if (day.length < 2)
   day = '0' + day;
   var date = new Date();
   date.toLocaleDateString();

   return [day, month, year].join('-');
}
%>

<script>
  function getFormData($form) {
    var unindexed_array = $form.serializeArray();
    var indexed_array = {};

    $.map(unindexed_array, function (n, i) {
      indexed_array[n["name"]] = n["value"];
    });

    return indexed_array;
  }

  const form = $("#addreply");

  form.on("submit", submitHandler);

  function submitHandler(e) {
    e.preventDefault();

    var formData = getFormData($("#addreply"));
    console.log(formData);

    // DO POST
    $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/admin/reply/add",
        data: JSON.stringify(formData),
      })
      .done((res) => {
        console.log("Text Us add successfully");
        window.location.reload();
      })
      .fail(function (xhr, status, error) {
        console.log(xhr.responseText);
      });
  }

 
</script>