<%- include('partials/header.ejs') %>
<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header" style="height: 70px; background-color: #6fd943">
                            <div class="col-12">
                                <h4 class="float-left">User Posts View</h4>
                                <div class="head-right-btn">
                                   
                                </div>
                            </div>
                        </div>
                        

                        <div class="card-body">
                            <% for( let i = 0; i < post.length; i++ ) { %>
                            <!-- video and img content -->
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <div class="embed-responsive embed-responsive-16by9 ">
                                        <iframe class="embed-responsive-item"
                                            src="/uploads/Posts/<%= post[i].video %> "
                                            allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="col-12 mb-3" >
                                    <div class="embed-responsive embed-responsive-16by9 ">
                                        <iframe class="embed-responsive-item"
                                            src="/uploads/Posts/<%= post[i].gif %> "
                                            allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="col-12 mb-3" >
                                    <div class="embed-responsive embed-responsive-16by9 ">
                                        <img class="embed-responsive-item  img-fluid"
                                            src="/uploads/Posts/<%= post[i].image %> "
                                            allowfullscreen></img>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <!-- Like and Comment btn Group -->
                            <div class="row img-btn-group">
                                <div class="col-md-6">
                                    <button class="btn btn-lg Like-btn btn-primary ">Like</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-lg comment-btn btn-primary">Comment</button>
                                </div>
                            </div>

                            <!-- User profile  -->
                            <div class="row">
                                <div class="col-md-6 text-start">
                                    <div class="post-profile">
                                        <img src="/uploads/User/1655684657698.jpg" alt="" class="post-porfile-img"
                                            style="width:30px; height:30px; border-radius: 50%;">

                                        himanshu
                                    </div>
                                </div>
                                <div class="col-md-6 text-end">
                                    21-06-22
                                </div>
                            </div>

                            <div class="row mt-5">
                                <!-- Like card Start -->

                                <% for( let i = 0; i < like.length; i++ ) { %>
                                
                                

                                <div class="col-md-6">
                                    <div class="outer-like-box">
                                        <div class="like-box">
                                            <div class="col-md-2">
                                                <div class="user-img ">
                                                    <img src="/uploads/User/<%= like[i].user_id ? like[i].user_id.image : "null" %> "
                                                        alt="" class="text-left user-img-img"
                                                        style="width:60px; height:60px; border-radius: 50%;">
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="timeline-panel">
                                                    <div class="timeline-head">
                                                        <h6><%= like[i].user_id ? like[i].user_id.name : "null" %></h6>
                                                        <span class="pull-right">
                                                            <a href="#" rel="tooltip" data-placement="bottom" title=""
                                                                data-original-title="Delete"
                                                                onclick="deletelike('<%= like[i]._id %>')">

                                                                <i class="material-icons" style="color:red">delete</i>
                                                            </a>
                                                        </span>
                                                    </div>
                                                    <div class="timeline-body">
                                                        <i class="  fa-solid fa-thumbs-up"></i>
                                                    </div>
                                                    <small class=" d-flex justify-content-end algin-center ">
                                                        <span
                                                            class="time-period"><%= convertTimeStampToDate(like[i].created_at) %></span>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                <!-- Like card end -->

                                <!-- Comment card Start -->



                                <% for( let i = 0; i < comment.length; i++ ) { %>
                                <div class="col-md-6">
                                    <div class="outer-comment-box">
                                        <div class=" comment-box">
                                            <div class="col-md-2">
                                                <div class="user-img ">
                                                    <img src="/uploads/User/<%= comment[i].user_id ? comment[i].user_id.image : "null" %> "
                                                        alt="" class="text-left user-img-img"
                                                        style="width:60px; height:60px; border-radius: 50%;">
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="timeline-panel">
                                                    <div class="timeline-head">
                                                        <h6><%= comment[i].user_id ? comment[i].user_id.name : "null" %>
                                                        </h6>
                                                        <span class="pull-right">
                                                            <td>
                                                                <i class="material-icons <%- comment[i].approved ? 'bg-success' : 'bg-danger' %> comment-white" data-toggle="modal"  data-model="<%= JSON.stringify(comment[i]) %>" id="accept_btn" style="cursor : pointer">
                                                                    <%- comment[i].approved ? 'visibility' : 'close' %></i>
                                                            </td>
                                                            <a href="#" rel="tooltip" data-placement="bottom" title=""
                                                             data-original-title="Delete"
                                                             onclick="deletecomment('<%= comment[i]._id %>');">
                                                             
                                                                <i class="material-icons" style="color:red">delete</i>
                                                            </a>
                                                        </span>
                                                    </div>
                                                    <div class="timeline-body">
                                                        <%= comment[i].comment %>
                                                    </div>
                                                    <small class=" d-flex justify-content-end algin-center mt-2">
                                                        <span
                                                            class="time-period"><%= convertTimeStampToDate(comment[i].created_at) %></span>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>

                                <!-- Comment card end -->
                            </div>


                        </div>
                       

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- edit model -->
  <div class="modal fade" id="action">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="actionForm" class="mx-5">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Video</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
  
          <!-- Modal body -->
          <div class="modal-body">
            <div class="mb-3">
              <input name="approved" type="checkbox" id="approved" data-width="100%" data-toggle="toggle"
                data-on="Show" data-off="Hide" data-onstyle="success" data-offstyle="danger" />
            </div>
            <input name="id" type="hidden" id="actionid" name="actionid" />
          </div>
  
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              close
            </button>
            <button type="submit" class="btn btn-success">save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- edit model -->

</div>





<%- include('partials/footer.ejs') %>

<%
function convertTimeStampToDate(date){
   date = Number(date)
      var d = new Date(date),
         month = '' + (d.getMonth() + 1),
         day = '' + d.getDate(),
         year = d.getFullYear();

   if (month.length < 2)
   month = '0' + month;
   if (day.length < 2)
   day = '0' + day;
   var date = new Date();
   date.toLocaleDateString();

   return [day, month, year].join('-');
}
%>

<script>
    function deletecomment(id) {
        if (confirm("Do you really want to delete this slider")) {
            // DO POST
            $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/admin/comment/delete",
                    data: JSON.stringify({
                        id: id,
                    }),
                })
                // console.log(data)

                .done((res) => {
                    console.log("Slider Deleted successfully");
                    window.location.reload();
                })
                .fail(function (xhr, status, error) {
                    console.log(xhr.responseText);
                });
        }
    }
</script>

<!-- Edit  -->
<script>
    $(document).on("click", "#accept_btn", function (e) {
        let getData = $(e.target).attr('data-model');
        let finalData = JSON.parse(getData)
        $('#action').modal('show')
        var data = finalData
        // console.log(data)
  
        $("#actionid").val(data._id);
  
        approved ?  $("#approved").bootstrapToggle("on") : $("#approved").bootstrapToggle("off");
        
    })
  
  </script>
  <script>
    function getFormData($form) {
       var unindexed_array = $form.serializeArray();
       var indexed_array = {};
  
       $.map(unindexed_array, function (n, i) {
           indexed_array[n["name"]] = n["value"];
       });
  
       return indexed_array;
   }
    var actionForm = $("#actionForm");
    actionForm.on("submit", addslidersubmitHandler);
  
   function addslidersubmitHandler(e) {
       e.preventDefault();
  
       // PREPARE FORM DATA
       var formData = getFormData(actionForm);
  
       formData.approved = $("#approved").is(":checked");
  
       console.log(formData);
       // // DO POST
       $.ajax({
               type: "POST",
               contentType: "application/json",
               url: "/admin/comment/edit",
               data: JSON.stringify(formData),
           })
           .done((res) => {
               console.log("successfully");
               window.location.reload();
               // table.draw();
           })
           .fail(function (xhr, status, error) {
               console.log(xhr.responseText);
           });
   }
  </script>